<div class="input-container">
    <input type="text" #input [placeholder]="placeholder" (input)="onChange($event.target.value)" (blur)="onTouched()">
    <div class="icon-box" (click)="minus()">
        <div class="minus"></div>
    </div>
    <div class="icon-box" (click)="plus()">
        <div class="plus"></div>
    </div>
    <div *ngIf="controlDir && !controlDir.control.valid">
        <span *ngIf="controlDir.control.errors.format">
            HH:MMで入力してください
        </span>
        <span *ngIf="controlDir.control.errors.required">
            必須入力です
        </span>
        <span *ngIf="controlDir.control.errors.range">
            00:00 - 23:59の間で入力してください
        </span>
    </div>
</div>